# Data Science Tools and Ecosystem

Objectives: 
- List popular languages for Data Science
- List commonly used libraries by Data Scientists
- Evaluate arithmetic expressions using Python
- Add and delete cells

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. R
2. Python
3. Java
4. JavaScript
5. SQL

Some of the commonly used libraries used by Data Scientists include:
1. TensorFlow
2. ggplot2
3. Lattice
4. NumPy
5. Pandas

| Data Science Tools |
| -------------------- |
| RStudio |
| GitHub |
| Apache Spark |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# his a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Ali Nabeel